.blogPost {
  margin: 0 0 50px 0;
  width: 100%;
  padding: 12px;
}

.blogPostContent {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: justify;
}

.blogPostFeaturePhoto {
  cursor: pointer;
  background: #ddd;
  margin: 0 0 6px 0;
  width: 100%;
  transition: 0.15s ease;
}

.blogPostFeaturePhoto img {
  width: 100%;
}

.blogPostFeaturePhoto:hover {
  transition: 0.15s ease;
  opacity: 0.75;
}

.blogPostTitle {
  cursor: pointer;
  margin: 12px 0 12px 0;
  font-weight: 600;
  text-decoration: underline;
  transition: 0.15s ease;
  width: fit-content;
  font-size: 1.75rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.blogPostTitle:hover {
  transition: 0.15s ease;
  opacity: 0.75;
}

.blogPostMetaArea,
.blogPostBottomMetaArea {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 0 0 12px 0;
}

.blogPostBottomMetaArea {
  position: absolute;
  bottom: -38px;
  width: 100%;
  left: 0;
  right: 0;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
}

.blogPostBottomMetaAreaTwo {
  display: flex;
  justify-content: space-between;
}

.blogPostReadMore,
.blogPostFeaturePhoto {
  user-select: none;
}

.blogPostAuthorLink,
.blogPostReadMore {
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer;
  transition: 0.15s ease;
}

.blogPostAuthorLink:hover,
.blogPostReadMore:hover {
  font-weight: 400;
  text-decoration: underline;
  opacity: 0.75;
  transition: 0.15s ease;
}

.readMoreArea {
  display: flex;
  margin: 0 auto;
}

.blogPostDateText,
.blogPostTagText {
  text-align: right;
  font-size: 14px;
  margin-bottom: 0;
}

.blogPostIndividualTagText {
  cursor: pointer;
  text-decoration: underline;
  transition: 0.15s ease;
}

.blogPostIndividualTagText:hover {
  opacity: 0.75;
  transition: 0.15s ease;
}

.blogPostTextArea {
  padding: 12px;
}
